################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransactionApplication.API/bin/Debug/netcoreapp3.1
